<!-- Sidenav Right List -->
<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="listPanel">

  <!-- Nav Bar -->
	<md-toolbar ng-click="toggleSidenav('listPanel')" >
	  <div class="md-toolbar-tools">
	    <h2 flex>
	      <span>{{panelTitle}}</span>
	    </h2>
      <md-button class="md-icon-button" aria-label="Close">
        <md-icon md-svg-icon="close"></md-icon>
      </md-button>        
	  </div>
	</md-toolbar>

  <!-- Content -->
  <div ng-controller="RightCtrl" layout-padding>

    
    <md-grid-list
      md-cols="6"
      md-row-height="1:1" 
      md-gutter="10px"
      class="frameRow" ng-show="listingType=='frame'">

      <md-grid-tile ng-repeat="item in standardFrames = (frameStyles | filter: { category: filterBy })"
        ng-click="toggleSidenav('detailPanel')" class="frameTileSm"
        md-colspan="1" md-rowspan="1" md-colspan-sm="2" md-rowspan-sm="2">
        <img ng-src="{{item.thumburl}}" alt="{{item.caption}}">
        <md-tooltip md-direction="bottom">{{item.caption}}</md-tooltip>
      </md-grid-tile>

    </md-grid-list>


    <md-grid-list
      md-cols="6"
      md-row-height="1:1" 
      md-gutter="10px"
      class="frameRow" ng-show="listingType=='art'">

      <md-grid-tile ng-show="listingType=='art'" ng-repeat="item in art[filterBy]"
        ng-click="toggleSidenav('detailPanel')" class="artTileSm"
        md-colspan="1" md-rowspan="1" md-colspan-sm="2" md-rowspan-sm="2">
        <img ng-src="{{item.thumburl}}" alt="{{item.name}}">
        <md-tooltip md-direction="top">{{item.name}}</md-tooltip>
      </md-grid-tile>

    </md-grid-list>


  <!--
    <p>Item Detail Panel</p>

    <md-grid-list
          md-cols-sm="3" md-cols-md="4" md-cols-gt-md="5"
          md-row-height-gt-md="1:1" md-row-height="2:2"
          md-gutter="12px" md-gutter-gt-sm="8px"  md-gutter="4px" >

      <md-grid-tile ng-click="toggleSidenav('right2')" >
        <md-grid-tile-footer>Item Name</md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile ng-click="toggleSidenav('right2')" >
        <md-grid-tile-footer>Item Name</md-grid-tile-footer>
      </md-grid-tile>
      <md-grid-tile ng-click="toggleSidenav('right2')" >
              <md-grid-tile-footer>Item Name</md-grid-tile-footer>
            </md-grid-tile>
      <md-grid-tile ng-click="toggleSidenav('right2')" >
              <md-grid-tile-footer>Item Name</md-grid-tile-footer>
            </md-grid-tile>
      <md-grid-tile ng-click="toggleSidenav('right2')" >
              <md-grid-tile-footer>Item Name</md-grid-tile-footer>
            </md-grid-tile>
      <md-grid-tile ng-click="toggleSidenav('right2')" >
              <md-grid-tile-footer>Item Name</md-grid-tile-footer>
            </md-grid-tile>
      <md-grid-tile ng-click="toggleSidenav('right2')" >
              <md-grid-tile-footer>Item Name</md-grid-tile-footer>
            </md-grid-tile>
      <md-grid-tile ng-click="toggleSidenav('right2')" >
              <md-grid-tile-footer>Item Name</md-grid-tile-footer>
            </md-grid-tile>

    </md-grid-list>
-->


    <md-button ng-click="toggleSidenav('listPanel')" class="md-primary" aria-label="Close">
      Close Panel
    </md-button>

  </div>
</md-sidenav>
