<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<form name="passwordFrm" ng-submit="doUpdatePassword(user)" novalidate class="form-horizontal">	
		
			<p>You password must be at least 8 characters long and contain at least one lower case letter, upper case letter, and digit or special character. 
			Passwords must be changed at least every 90 days and you may not reuse a password you have used previously.</p>
			
			<fieldset>
				
				<div class="form-group" ng-class="hasError(passwordFrm.password)">
				  <label class="col-md-4 control-label" for="passwordinput"><span class="required">*</span> New Password:</label>
				  <div class="col-md-4">
				    <input id="passwordinput" name="password" ng-model="user.password" type="password" required ng-minlength="8" ng-maxlength="20" ng-pattern="/^.*(?=.*[0-9@\$=!:.#%])(?=.*[a-z])(?=.*[A-Z])(^[a-zA-Z0-9@\$=!:.#%]+$)/" class="form-control" >
				  </div>
				  <span class="col-md-4 help-block field-validation-error">
				  		<span ng-show="showError(passwordFrm.password, 'required')">Required.</span>
						<span ng-show="showError(passwordFrm.password, 'pattern')">Must have upper and lower case letters and numbers.</span>
				  		<span ng-show="showError(passwordFrm.password, 'minlength')">8 character minimum.</span>
						<span ng-show="showError(passwordFrm.password, 'maxlength')">20 character maximum.</span>
				  </span>
				</div>
				
				<div class="form-group" ng-class="hasError(passwordFrm.password2)">
				  <label class="col-md-4 control-label" for="password2"><span class="required">*</span> Confirm New Password:</label>
				  <div class="col-md-4">
					<input id="password2" name="password2" type="password" ng-model="user.password2" password-match="user.password" required class="form-control"/>
				  </div>
				  <span class="col-md-4 help-block field-validation-error">
				  		<span ng-show="showError(passwordFrm.password2, 'unique')">Passwords do not match.</span>
				  		<span ng-show="showError(passwordFrm.password2, 'required')">Required.</span>
				  </span>	
				</div>
				
						
			</fieldset>
		
			<div class="text-center">
				<button can-save="passwordFrm" class="submit btn btn-primary" >Update Password</button>
				 &nbsp; or <a class="text-danger" href="#/myaccount">Cancel</a>
			</div>		
		
		</form>

	</div>
</div>		


<!-- DEBUG 
<pre>{{user| json}}</pre>
-->
